<!DOCTYPE html>
<html lang="en">

<%- include('./partial/head')%>

    <body>

        <%- include('./partial/header')%>

            <main class="main-section-store">
                <% if(locals.session){ %>
                    <% if(locals.session.userType == "Cliente"){ %>
                    <div class="product-create_button-container">
                        <a href="/product-create"><button class="button_product-add"><i class="fas fa-plus"></i>Añadir Producto</button></a>
                    </div>
                    <%}%>
                <%}%>
                <section class="main-store-catg_container">

                   

                    <div class="sidebar">
                        <div class="sidebar-list">

                            <h4 class="sidebar-title">Hardware</h4>
                            <ul>
                                <li><a href="#"> MOUSE </a></li>
                                <li><a href="#"> TECLADOS </a></li>
                                <li><a href="#"> MONITORES </a></li>
                                <li><a href="#"> NOTEBOOKS </a></li>
                            </ul>
                            <h4 class="sidebar-title">Consolas</h4>
                            <ul>
                                <li><a href="#"> PS5</a></li>
                                <li><a href="#"> XBOX </a></li>
                                <li><a href="#"> PSE </a></li>
                                <li><a href="#"> NINTENDO </a></li>

                            </ul>
                            <h4 class="sidebar-title">Accesorios</h4>
                            <ul>
                                <li><a href="#"> Microfonos</a></li>
                                <li><a href="#"> Lentes </a></li>
                                <li><a href="#"> Mousepad </a></li>
                                <li><a href="#"> Lámparas </a></li>

                            </ul>
                            <h4 class="sidebar-title">Ofertas</h4>
                            <ul>
                                <li><a href="#"> Hard</a></li>
                                <li><a href="#"> Soft </a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="catg-store_container-products">
                        <% for (let i = 0; i <  product.length; i++) { %>
                        <article class="product_item">
                           
                            <a href=""></a>
                            <a class="poduct-store_main-link" href="/product-detail/<%= product[i].id %>">
                                <img class="product_item-img" src="/images/<%= product[i].photo1%>" alt="item name">
                                <div class="product_item-main_article">
                                    <p class="product_item-main_article-name"><%= product[i].name %></p>

                                    
                                    <div class="envio">
                                    <% if(product[i].shipping == 1){%>
                                        <i class="fas fa-truck"></i>
                                        <span> Envio Gratis</span>
                                     <%}%>
                                    </div>

                                    
                                   
                                    <p class="price">$ <%= product[i].price %></p>
                                    <% if(product[i].discountAply > 0){%>
                                        <p class="discount"><%= product[i].discountAply %>% OFF</p>
                                    <%}%>

                                </div>
                                
                            </a>
                            <div class="button-container">
                                <a href="cart" class="store_cart-link">
                                    <input class="button" type="submit" value="Añadir al Carro">
                                </a>
                                <a href="cart" class="store_cart-link">
                                    <input class="button" id="buy-now" type="submit" value="Comprar Ahora">
                                </a>
                            </div>
                            <i class="fa fa-heart"></i>
                             <% if(locals.session){ %>
                                 <% if(locals.session.userClass !== "Cliente"){ %>
                            <button class="store_product-edit-button"><a href="/product-edit/<%= product[i].id %>"><i
                                        class="fas fa-pencil-alt"></i></a></button>
                                <% } %>   
                             <% } %>           
                        </article>
                        <% } %>   
                    </div>
                    
                </section>
                
                <section class="information">

                    <div class="information-section_container">
                        <h3 class="information-section_container_title">Information</h3>
                        <box class="information-section_container_item1">
                            <div class="box-container_item">
                                <h3 class="box-title">NEWSLETTER <i class="fas fa-newspaper"></i></h3>
                            </div>
                        </box>

                        <box class="information-section_container_item1">
                            <div class="box-container_item">

                                <h3 class="box-title">HOW TO BUY <i class="fas fa-store"></i></h3>
                            </div>
                        </box>

                        <box class="information-section_container_item1">
                            <div class="box-container_item">
                                <h3 class="box-title">FAQ <i class="far fa-thumbs-up"></i></h3>
                            </div>
                        </box>
                </section>

            </main>

            <%- include('./partial/footer')%>


    </body>

</html>