<header>


  <div class="top-bar">

   

    <div class="nav-menu">

      <ul>
          <div class="top-bar_list" id="social-media">
        <li>
          <a href="https://facebook.com" target="_blank">
            <i class="fab fa-facebook"> </i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com" target="_blank">
            <i class="fab fa-twitter"> </i>
          </a>
        </li>
        <li>
          <a  href="https://instagram.com" target="_blank">
            <i class="fab fa-instagram"> </i>
          </a>
        </li>
      </div>  
        <div class="top-bar_list">
          <% if(!locals.session){ %>
          <li>
          <a href="../user-login">
            Ingresar / Registrarse
            <i class="fas fa-user"> </i>
          </a>
        </li>
        <%}%>
        <% if(locals.session){ %>
          <% if(session.userType == "Administrador"){ %>
        <li>
          <a href="../users">
            Ver Usuarios
            <i class="fas fa-users"></i>
          </a>
        </li>
        
        <%}%>
        <%}%>
        </div>
      </ul>
      <% if(locals.session){     %>
       <div class="topbar-user_main-container">
          <div class="top-bar_user-profile_avatar-container">
            <a href="../user-profile/<%=session.id%>">
            <img class="top-bar_user-profile_avatar" src="/images/users/<%= session.avatar%>">
            </a>
          </div>
          <div class="top-bar_user-profile_data-container">
            <p class="top-bar_user-profile-info"><%=session.name%></p>
          </div>
          <!-- <ul class="bell-alerts">
            <li>
              <a href="#" >
                <i class="fas fa-bell"> </i>
              </a>
            </li>
          </ul> -->
          <%}%>
       </div>
      </div>
  </div>

  

  <div class="top-header">
    
    <div id="menu__items">
      <ul>
        <li>
          <% if(locals.session){     %>
            <a href="../user-profile/<%=session.id%>">
              <img class="top-bar_user-profile_avatar" src="/images/users/<%= session.avatar%>"><p class="top-bar_user-profile-info"><%=session.name%></p>
            </a>
            <%}%>
            
            <% if(!locals.session ){     %>
            <a href="../user-login">
              INGRESAR / REGISTRARSE
            </a>
            
          <%}%>
        </li>
        <li><a href="">TIENDA</a></li>
        <li><a href="">CARRITO</a></li>
        <!-- <li><a href="">FAVORITOS</a></li> -->
        <li><a href="">CONTACTO</a></li>
        <% if(locals.session){     %>
        <li><a href="/user-profile/<%=session.id%>">CERRAR SESION</a></li>
        <%}%>
        
      </ul>
    </div>
    

    <div class="logo">
      <a href="/home">
        <img src="/images/codigo-gamer-logo.jpeg.png" />
      </a>
    </div>


    <div class="nav-section">
      <div class="nav-section-list">
        <div class="nav-section-list-links">
          <div class="nav-section_item">
            <a href="/home"> HOME </a>
          </div>
          <div class="nav-section_item">
            <a href="../productsList"> TIENDA </a>
          </div>
          <!-- <div class="nav-section_item">
            <a href="#"> OFERTAS </a>
          </div> -->
          <div class="nav-section_item">
            <a href="/contact"> CONTACTO </a>
          </div>
        </div>
        <div class="nav-section-list-icons">
          <!-- <div class="nav-section_item">
            <a href="#">
              <i class="fas fa-heart"> </i>
            </a>
          </div> -->
          <div class="nav-section_item-search" id="search-bar">
            <form action="/search" method="GET">
            <input
              name="search"
              type="search"
              class="serch-input"
              placeholder="Buscar Productos..."
            /> 
            <div class="search-btn"><i class="fas fa-search icon"></i></div></form>
          </div>
          <!-- <div class="nav-section_item">
            <a href="/cart">
              <i class="fas fa-shopping-cart"> </i>
            </a>
          </div> -->
        </div>
      </div>
    </div>
    <div class="hamb__navbar__container">
      <div id="hamb__lines">
        <span class="line line1" id="line1"></span>
        <span class="line line2" id="line2"></span>
        <span class="line line3" id="line3"></span>
      </div>
  </div>
  
    

  </div>

  <script src="../../events/hambmenu.js"></script>
</header>
