<!DOCTYPE html>
<html lang="en">

<%- include('../partial/head')%>

    <body>

        <header>


            <div class="top-bar">
              <div class="nav-menu">
                
              </div>
            </div>
          
            <div class="top-header">
              <div class="userMiddlewares-logo">
                <a href="/home">
                  <img src="/images/codigo-gamer-logo.jpeg.png" />
                </a>
              </div>
          
          </header>
        
            <section class="userMiddleware-section">
                <article class="userMiddleware-container">
                    <div classs="userMiddleware-alert">
                        <i class="fas fa-exclamation-triangle"></i>
                    </div>

                    <% if (locals && locals.noCatgError) { %>
                        <h4><b><%=noCatgError%></b></h4>
                    <%}%>

                    <% if (locals && locals.noProdError) { %>
                        <h4><b><%=noProdError%></b></h4>
                    <%}%>

                    <% if (locals && locals.noUserError) { %>
                        <h4><b><%=noUserError%></b></h4>
                    <%}%>




                    <span >
                        <p class="home-link"><a href="/home">Volver al Inicio</a></p>
                        <br>
                    </span>
                </article>
            </section>


            <%- include('../partial/footer')%>

    </body>


</html>