<!DOCTYPE html>
<html lang="en">

    <%- include('../partial/head')%>

    <body>
        
    <%- include('../partial/header')%>
    <section>
        <form action="/user-edit/<%=userToEdit.id%>?_method=PUT" method="POST" enctype="multipart/form-data"class="formulario" id="user-edit_form" >
            <h4><b> Actualizá la información de tu cuenta </b></h4>
            <div>
            <label>Nombre Completo</label>
            <input class="controlador" type="text" name="nombre" id="nombre" placeholder="Nombre"value="<%=userToEdit.name%>">
            </div>
            <div>
            <label>Apellidos</label>
            <input class="controlador" type="text" name="apellido" id="apellido" placeholder="Apellido"value="<%=userToEdit.lastName%>">
            </div>
            <div>
            <label>DNI/CEDULA</label>
            <input class="controlador" type="text" name="dni" id="dni" placeholder="DNI"value="<%=userToEdit.dni%>">
            </div>
            <div>
            <label>Sexo</label>
            <input class="controlador" type="text" name="sexo" id="sexo" placeholder="Femenino/Masculino"value="<%=userToEdit.gender%>">
            </div>
            <div>
            <label>Fecha de Nacimiento</label>
            <input class="controlador" type="date" name="fechaNac" id="fechaNac" placeholder="Nacimiento - dd/mm/aaaa"value="<%=userToEdit.birthDay%>">
            </div>
            <div>
            <label>Teléfono</label>
            <input class="controlador" type="tel" name="tel" id="tel" placeholder="Teléfono - Cod.Area + Numero" value="<%=userToEdit.contactNumber%>">
            </div>
            <div>
            <label>Contraseña</label>
            <input class="controlador" type="password" name="password1" id="password1" placeholder="Introduzca contraseña" value="<%=userToEdit.password1%>" disabled>
            </div>
            <div>
            <label>Repetí Contraseña</label>
            <input class="controlador" type="password" name="password2" id="password2" placeholder="Verifique contraseña" value="<%=userToEdit.password2%>" disabled>
            </div>
            <div>
            <label>Correo Electrónico</label>
            <input class="controlador" type="email" name="email1" id="email"  value="<%=userToEdit.email1%>"disabled>
            </div>
            <div>
            <label>Verificá tu Correo Electrónico</label>
            <input class="controlador" type="email" name="email2" id="email2" value="<%=userToEdit.email2%>"disabled>
            </div>
            <div>
            <label>Imagen de Perfil</label>
            <input class="controlador" type="file" name="profilePhoto" id="profilePhoto"accept=".jpg" multiple title="Click para subir una foto de perfil"value="<%=userToEdit.profilePhoto%>">
            </div>
            <div>
            <label>Tipo de Usuario</label>
            <select name="userClass" id="user-class" placeholder="Tipo de Usuario" class="controlador"value="<%=userToEdit.userClass%>">
                <option class="catg-option" hidden selected><%=userToEdit.userClass%></option>
                <option value="Administrador" class="catg-option">Administrador</option>
                <option value="cliente" class="catg-option">Cliente</option>
            </select>
            </div>
            
                <button class="user-edit-button" value="submit"><i class="fas fa-user-edit" ></i> 
                     Editar usuario
                </button>
        
                <form class="produt-delete_form" method="POST" action="/user-edit/<%=users.id%>_method=DELETE">
                    <button class="user-delete-button" value="submit">
                        <i class="far fa-trash-alt"></i>
                        Eliminar usuario
                    </button>
                </form>
        </form>
       
            
    </section>
   
<%- include('../partial/footer')%> 


</body>

</html>