<!DOCTYPE html>
<html lang="en">

    <%- include('../partial/head')%>

    <body>
        
    <%- include('../partial/header')%>
    <section> 
        <form action="/user-register" method="POST" enctype="multipart/form-data"class="formulario">
            <h4><b> Para crear tu cuenta en Código Gamer ¡Ingresá estos datos!</b></h4>
            <% if (locals.errors && errors.name) { %>
                <div class="text-danger">
                    <%= errors.name.msg %> 
                </div>
            <% } %>
            <input class="controlador" type="text" name="nombre" id="nombre" placeholder="Nombre" value="<%=locals.old&&old.nombre%>">
            <input class="controlador" type="text" name="apellido" id="apellido" placeholder="Apellido"value="<%=locals.old&&old.apellido%>" >
            <input class="controlador" type="text" name="dni" id="dni" placeholder="DNI"value="<%=locals.old&&old.dni%>">
            <input class="controlador" type="text" name="sexo" id="sexo" placeholder="Femenino/Masculino"value="<%=locals.old&&old.sexo%>">
            <input class="controlador" type="date" name="fechaNac" id="fechaNac" placeholder="Nacimiento - dd/mm/aaaa"value="<%=locals.old&&old.fechaNac%>">
            <input class="controlador" type="tel" name="tel" id="tel" placeholder="Teléfono - Cod.Area + Numero"value="<%=locals.old&&old.tel%>">
            <input class="controlador" type="password" name="password1" id="nac" placeholder="Introduzca contraseña">
            <input class="controlador" type="password" name="password2" id="prov" placeholder="Verifique contraseña">
            <input class="controlador" type="email" name="email1" id="email" placeholder="Correo Electrónico // mail@codigoGamer.com"value="<%=locals.old&&old.email1%>">
            <input class="controlador" type="email" name="email2" id="email" placeholder="Confirmá Correo Electrónico">
            <input class="controlador" type="file" name="profilePhoto" id="profilePhoto"accept=".jpg" multiple title="Click para subir una foto de perfil">
            <select name="userClass" class="controlador">
									<option value="">elegí una clase</option>
									<%  
										let userClass = ['Administrador','Cliente'];
									%>
									<% for (const oneClass of userClass) { %>
										<option 
											value="<%= oneClass %>"
											<%= locals.oldData && (oneClass === oldData.userClass) ? 'selected' : null %> 
										> <%= oneClass %> </option>
									<% } %>
								</select>
            <p><label><input type="checkbox" name="acceptTerms" id="acceptTerms"required> Acepto <a href="#">Términos y Condiciones</a>
            </label></p>
            <input class="button" type="submit" value="Registrarse">
            <p><a href="/login">¿Ya tenes cuenta? Ingresá</a></p>
        </form>
        
    </section>
   
<%- include('../partial/footer')%> 


</body>

</html>